<div class="row content">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8 text-left">
    <h1>Wddit </h1>
    <h4>Love tech and politics? Welcome to our community</h4>
    <h4>Start sharing your thoughts on pressing matters of our modern world by registering!</h4>
  </div>

  <div class="col-sm-2 ">
  </div>
</div>
